<div class="toolbar">
  <h1 id="pageTitle">Board O' Crud</h1> 
  <%= link_to 'Messages', messages_path, :class => "button leftButton" %>
  <%= link_to 'Post', new_message_path, :class => "button" %>
</div>
<ul selected="true">
  <table>
    <tr>
      <td>Posted by:</td>
      <td><%=h @message.name %></td>
    </tr>
    <tr>
      <td>Subject:</td>
      <td><%=h @message.subject %></td>
    </tr>
    <tr>
      <td>Date:</td>
      <td><%= @message.created_at.to_s(:crud) %></td>
    </tr>
    <tr>
      <td>Host:</td>
      <td><%= @message.host %></td>
    </tr>
  </table>
  
  <li class="group">Message</li>
  
  <p class="message_body">
    <%= auto_link(sanitize(@message.formatted_message), :all, :target => '_blank') %>
  </p>
  
  <li class="group">Thread</li>
  
  <ul>
    <%= message_thread(@message) %>
  </ul>

  <li class="group">Reply</li>
  
  <% form_for(@reply_message) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name, :class => 'text_field' %>
    </p>

    <p>
      <%= f.label :subject %><br/>
      <%= f.text_field :subject, :class => 'text_field' %>
    </p>

    <p>
      <%= f.label :message %><br />
      <%= f.text_area :message, :rows => 8, :class => 'text_field' %>
    </p>

    <p>
      <%= f.submit "Post Reply" %>
    </p>

    <%= f.hidden_field :parent_id %>

  <% end %>
  
</ul>